html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 1 1rem;
}

h2 {
  font-size: 2rem;
}

.feature {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.img {
  display: block;
  justify-content: center;
  width: 25%;
  margin: 0 auto 1.5rem;
}

img {
  display: block;
  width: 100%;
  margin: 0 0 1.5rem;
}

.anderon .knights .dragon .ships {
  display: flex;
  justify-content: space-between;
  margin: 0;
  flex-grow: 1;
}

.anderon {
  padding: .75em;
  background-color: #e2e2e2;
  border-left: 1px solid #333;
}

.anderon p {
  margin: 0 0 3rem;
}

.knights {
  padding: .75em;
  background-color: #ccc;
  border-left: 1px solid #333;
}

.dragon {
  padding: .75em;
  background-color: #aaa;
  border-left: 1px solid #333;
}

.dragon p {
  margin: 0 0 3rem;
}

.ships {
  padding: .75em;
  background-color: #999;
  border-left: 1px solid #333;
}

.booktitle {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.author {
  font-style: italic;
  font-size: .875rem;
}

p {
  margin: 0 0 1.5rem;
}

a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: .875em;
  align-self: flex-end;
}

.link {
  align-self: flex-end;
}

.btn {
  display: flex;
  margin: 0;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-small {
  font-size: .875rem;
}

.btn:hover {
  background-color: #000;
  border-radius: 8px;
}
