html {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  line-height: 1.5rem;
  color: #333;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

main {
  display: flex;
}

.anderon {
  display: flex;
  flex-direction: column;
}

.knights {
  display: flex;
  flex-direction: column;
}

.dragon {
  display: flex;
  flex-direction: column;
}

.ships {
  display: flex;
  flex-direction: column;
}
