html {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  line-height: 1.5rem;
  color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  margin: 0 0 1.5rem;
}

.img {
  width: 25%;
  justify-content: flex-start;

}
header {
  display: flex;
  font-size: 1em;
  justify-content: center;
}

main {
  display: flex;
  margin: 0;
  flex-grow: 2;
}

body {
  margin: 0;
}

.anderon {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
  justify-content: space-between;
  padding: .75em;
  margin: 0;
}

.knights {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  justify-content: space-between;
  padding: .75em;
  margin: 0;
}

.dragon {
  display: flex;
  flex-direction: column;
  background-color: #aaa;
  justify-content: space-between;
  padding: .75em;
  margin: 0;
}

.ships {
  display: flex;
  flex-direction: column;
  background-color: #999;
  justify-content: space-between;
  padding: .75em;
  margin: 0;
}

.book {
  font-weight: bold;
}

.author {
  font-style: italic;
}

a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: .875em;
}

.btn {
  display: flex;
  margin: 0;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border: 3px solid #333;
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-small {
  font-size: .875rem;
}

.btn:hover {
  background-color: #000;
  border-radius: 8px;
}
